app = "apconsentbot"
primary_region = "sin"

[build]
  builder = "paketobuildpacks/builder:base"

[env]
  CONSENT_DB_PATH = "/data/consent.db"

[processes]
  web = "python bot.py"

[mounts]
  source = "consent_data"
  destination = "/data"
 
