app = "apconsentbot"
primary_region = "sin"

[build]
  dockerfile = "Dockerfile"

[env]
  CONSENT_DB_PATH = "/data/consent.db"

[processes]
  app = "python bot.py"

[mounts]
  source = "consent_data"
  destination = "/data"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
